.dimmer {
	BACKGROUND-IMAGE: url(dimmer.png); POSITION: absolute; FILTER: progid:DXImageTransform.Microsoft.Alpha(opacity=0); WIDTH: 1px; HEIGHT: 1px; VISIBILITY: hidden; TOP: 1px; LEFT: 1000px; opacity: 0; -moz-opacity: 0
}
DIV.fWindow {
	BORDER-BOTTOM: #6b91ab 1px solid; POSITION: absolute; BORDER-LEFT: #6b91ab 1px solid; WIDTH: 1px; HEIGHT: 1px; VISIBILITY: hidden; OVERFLOW: hidden; BORDER-TOP: #6b91ab 1px solid; TOP: 1px; BORDER-RIGHT: #6b91ab 1px solid; LEFT: 1000px
}
.fWContent {
	BACKGROUND: #ffffff
}
.floatingHeader {
	BACKGROUND-IMAGE: url(Window_Header.gif); FILTER: progid:DXImageTransform.Microsoft.Alpha(opacity=87); BACKGROUND-COLOR: #8aa0ca; BACKGROUND-REPEAT: repeat-x; opacity: .87; -moz-opacity: .87
}
