BODY {
	SCROLLBAR-ARROW-COLOR: #666666; SCROLLBAR-FACE-COLOR: #ffffff; BACKGROUND-COLOR: #ffffff; MARGIN: 0px 0px 0px 10px; SCROLLBAR-DARKSHADOW-COLOR: #666666; SCROLLBAR-BASE-COLOR: #ffffff; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; SCROLLBAR-SHADOW-COLOR: #ffffff; OVERFLOW: auto; SCROLLBAR-TRACK-COLOR: #efefef; SCROLLBAR-3DLIGHT-COLOR: #666666
}
.headerGray {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #584826; FONT-SIZE: 11px; FONT-WEIGHT: bold
}
.headerLightBlue {
	BACKGROUND-COLOR: #f0f5fa
}
.headerDarkBlue {
	BACKGROUND-IMAGE: url(Images/PageHeader.gif); BACKGROUND-REPEAT: repeat-x; HEIGHT: 34px
}
.FooterBackground {
	BACKGROUND-IMAGE: url(Images/Footer.gif); BACKGROUND-REPEAT: repeat-x; HEIGHT: 58px
}
.BorderWhite {
	BORDER-BOTTOM: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; BORDER-RIGHT: #ffffff 1px solid
}
.borderBlue {
	BORDER-BOTTOM: #5f779c 1px solid; BORDER-LEFT: #5f779c 1px solid; BORDER-TOP: #5f779c 1px solid; BORDER-RIGHT: #5f779c 1px solid
}
.borderDarkBlue {
	BORDER-BOTTOM: #5f779c 1px solid; BORDER-LEFT: #5f779c 1px solid; BORDER-TOP: #5f779c 1px solid; BORDER-RIGHT: #5f779c 1px solid
}
.borderLightBlue {
	BORDER-BOTTOM: #5f779c 1px solid; BORDER-LEFT: #5f779c 1px solid; BORDER-TOP: #5f779c 1px solid; BORDER-RIGHT: #5f779c 1px solid
}
.trdark {
	BACKGROUND-COLOR: #b0bf9d
}
.trlight {
	BACKGROUND-COLOR: #f2f2f2
}
.trmid {
	BACKGROUND-COLOR: #efefdf
}
.tableWithBorder {
	BORDER-BOTTOM: #999999 1px solid; BORDER-LEFT: #999999 1px solid; BORDER-TOP: #999999 1px solid; BORDER-RIGHT: #999999 1px solid
}
.select {
	BACKGROUND-COLOR: #f2f2f2; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: black; FONT-SIZE: 9pt; TEXT-DECORATION: none
}
.pageHeader {
	FONT-FAMILY: Verdana; COLOR: #291e40; FONT-SIZE: 12pt; FONT-WEIGHT: bold
}
.header {
	FONT-FAMILY: Verdana; COLOR: #291e40; FONT-SIZE: 9pt; FONT-WEIGHT: bold
}
.headerwhite {
	FONT-FAMILY: Verdana; COLOR: #ffffff; FONT-SIZE: 11px; FONT-WEIGHT: bold
}
.headingtable {
	PADDING-BOTTOM: 5px; FONT-FAMILY: Verdana; COLOR: #ffa11c; FONT-SIZE: 9pt; FONT-WEIGHT: bold; PADDING-TOP: 5px
}
.text {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #5f779c; FONT-SIZE: 10px
}
.textBold {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif: Verdana; COLOR: #291e40; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
.textBoldLight {
	FONT-FAMILY: Verdana; COLOR: #ffffff; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
.highlightBlock {
	BORDER-BOTTOM: #291e40 1px solid; BORDER-LEFT: #291e40 1px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FONT-FAMILY: Verdana; BACKGROUND: #f1f1f1; COLOR: #291e40; FONT-SIZE: 8pt; BORDER-TOP: #291e40 1px solid; BORDER-RIGHT: #291e40 1px solid; PADDING-TOP: 10px
}
.imageCaption {
	FONT-FAMILY: Verdana; COLOR: #291e40; FONT-SIZE: 8pt
}
.imageBorder {
	BORDER-BOTTOM: #f1f1f1 1px solid; BORDER-LEFT: #f1f1f1 1px solid; BORDER-TOP: #f1f1f1 1px solid; BORDER-RIGHT: #f1f1f1 1px solid
}
A {
	FONT-FAMILY: Verdana; COLOR: #5f779c; FONT-SIZE: 8pt; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
A:hover {
	COLOR: #0482fe
}
.trVeryLightYellowBg {
	BACKGROUND: #fffcf0
}
.lightBlueTr {
	BACKGROUND: #e0e9ed
}
.lightBlueTrBorder {
	BORDER-BOTTOM: #e0e9ed 1px solid; BORDER-LEFT: #e0e9ed 1px solid; BORDER-TOP: #e0e9ed 1px solid; BORDER-RIGHT: #e0e9ed 1px solid
}
.greyBorderTable {
	BORDER-BOTTOM: #f1f1f1 1px solid; BORDER-LEFT: #f1f1f1 1px solid; BORDER-TOP: #f1f1f1 1px solid; BORDER-RIGHT: #f1f1f1 1px solid
}
.yellowBorderTable {
	BORDER-BOTTOM: #ffa11c 1px solid; BORDER-LEFT: #ffa11c 1px solid; BORDER-TOP: #ffa11c 1px solid; BORDER-RIGHT: #ffa11c 1px solid
}
.lightYellowBorderTable {
	BORDER-BOTTOM: #feecb4 1px solid; BORDER-LEFT: #feecb4 1px solid; BORDER-TOP: #feecb4 1px solid; BORDER-RIGHT: #feecb4 1px solid
}
.blueTr {
	BACKGROUND-IMAGE: url(Images/TableHeader.gif); BACKGROUND-COLOR: #8ab2d7; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 10px
}
.greyTr {
	BACKGROUND: #f1f1f1
}
.darkGreyTr {
	BACKGROUND: #999999
}
.darkYellowTr {
	BACKGROUND: #ffa11c
}
.lightYellowTr {
	BACKGROUND: #feecb4
}
.vLightYellowTr {
	BACKGROUND: #fef7e0
}
.formtable {
	FONT-FAMILY: Verdana; COLOR: #291e40; FONT-SIZE: 8pt; FONT-WEIGHT: normal
}
.textbox {
	BORDER-BOTTOM: #999999 1px solid; BORDER-LEFT: #999999 1px solid; FONT-FAMILY: Verdana; BACKGROUND: #f8f8f8; COLOR: #999999; FONT-SIZE: 11px; BORDER-TOP: #999999 1px solid; BORDER-RIGHT: #999999 1px solid
}
.button {
	BORDER-BOTTOM: #999999 1px solid; BORDER-LEFT: #999999 1px solid; FONT-FAMILY: Verdana; BACKGROUND: #f8f8f8; COLOR: #999999; FONT-SIZE: 11px; BORDER-TOP: #999999 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #999999 1px solid
}
.gridDarkStrip {
	BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND: #eeeeee
}
.gridLightStrip {
	BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND: #f9f9f9
}
.gridBorderBottom {
	BORDER-BOTTOM: #cccccc 1px solid
}
.gridColorDIV {
	WIDTH: 8px; HEIGHT: 8px; FONT-SIZE: 8px
}
.gridNoFont {
	FONT-SIZE: 1px
}
.gridHeader {
	BORDER-BOTTOM: #cccccc 1px outset; BACKGROUND: #aaaaaa
}
