@CHARSET "UTF-8";
body { margin:0 auto; font-size:12px; font-family:Verdana; line-height:1.5;}
ul,dl,dd,h1,h2,h3,h4,h5,h6,form,p { padding:0; margin:0;}
ul { list-style:none;}
img { border:0px;}
a { color:#05a; text-decoration:none;}
a:hover { color:#06c;text-decoration: underline;}
.module-toolbar{height: 50px;line-height: 62px;border-bottom: 1px solid #d2d2d2;padding-left:20px;font-size:15px;font-weight: 700}
.module-toolbar .view{float: right;height: 29px;width: 32px;margin: 12px 18px 0 0;text-indent: -9999px;background: url("../images/view.jpg") no-repeat;}
.module-toolbar .list{float: right;height: 29px;width: 32px;margin-top: 12px;text-indent: -9999px;background: url("../images/list.jpg") no-repeat;}

#photo_item{display: none;overflow-x: auto;}
.photo_item{border-bottom: 1px solid #d2d2d2;overflow-y:auto;}
li.photo_container{float: left;margin: 5px 3px;background:white;box-shadow: 0 1px 3px #BBBBBB;padding:5px;}
.photo_item .ttl{line-height: 20px;font-size: 20px;height: 20px;background-color: #A5E4F7;padding: 5px;margin: 3px 2px;display: inline-block;}

div.image_div{margin:0px auto;text-align: center;}
.image_gate_check_in img{width:230px;height: 173px;}
.image img{width:230px;height: 173px;}
.image_warehouse_check_in img,.image_gate_check_out img{width:230px;height: 130px;}

div.info{width: 230px;padding:12px 6px 5px;}

a.abs{ color: #222222;overflow: hidden;padding: 0 0 6px;vertical-align: baseline;overflow: hidden;display: block;font-size: 12px;line-height: 14px !important;}
span.size_info{color:#f60 !important;} 
 
.photo_folder span{padding: 0px;color: #333;font-size: 14px;}
ul.ul_folder li{float: left;margin: 3px 3px; }
ul.ul_folder li a{display: block;width: 130px;text-align: center;}