﻿* {
	margin: 0px;
	padding: 0px;
}

.DWTScanButton {
	background-color: #ffaf18;
	background-image: -webkit-linear-gradient(top, rgba(252, 192, 89, 0),
		rgba(254, 150, 0, 0.9) );
	background-image: -moz-linear-gradient(top, rgba(252, 192, 89, 0),
		rgba(254, 150, 0, 0.9) );
	background-image: -o-linear-gradient(top, rgba(252, 192, 89, 0),
		rgba(254, 150, 0, 0.9) );
	background-image: -ms-linear-gradient(top, rgba(252, 192, 89, 0),
		rgba(254, 150, 0, 0.9) );
	background-image: linear-gradient(top, rgba(252, 192, 89, 0),
		rgba(254, 150, 0, 0.9) );
	height: 41px;
	font-size: 16px;
}

.btn {
	width: 216px;
	margin: 5px auto 5px auto;
	display: block;
	-webkit-box-shadow: rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset,
		rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
	box-shadow: rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset,
		rgba(0, 0, 0, 0.3) 0px 1px 1px 0px;
	border-radius: 2px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	color: #FFF;
	cursor: pointer;
	font-family: Arial, sans-serif;
	font-weight: bold;
	text-decoration: none;
	text-shadow: rgba(0, 0, 0, 0.25) 0px -1px 0px;
	zoom: 1;
}

.divTableStyle {
	padding: 6px;
	border: 6px solid #DEDEDE;
}

#notify {
	border: 3px dashed #DEDEDE;
	border-radius: 4px;
	color: #3A3A3A;
	font-family: verdana, sans-serif;
	font-size: 12px;
	line-height: 20px;
	margin-top: 15px;
	padding: 15px;
}

#notify div {
	background: url("Images/faq 16.png") no-repeat scroll 0 0
		rgba(0, 0, 0, 0);
	padding-left: 30px;
}

.deleteButton {
	background-color: #DA4F49;
	background-image: -moz-linear-gradient(center top, #EE5F5B, #BD362F);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.button {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: #F5F5F5;
	background-image: -moz-linear-gradient(center top, #EE5F5B, #BD362F);
	background-repeat: repeat-x;
	border-color: #E6E6E6 #E6E6E6 #A2A2A2;
	border-image: none;
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px
		rgba(0, 0, 0, 0.05);
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 0;
	padding: 4px 12px;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
}