﻿body
{
    padding: 0px;
    margin: 0px;
    background-color:#3a3a3a;
    font-family: "verdana", "sans-serif";
    font-size: 12px;
    line-height: 20px;
    color: #3a3a3a;
}

/*TYPOGRAPHY doc == documents*/
b, strong, h1, h2, h3, h4 {
	font-family: arial, helvetica, sans-serif;
	color: #202020;
}

.doc h1 {
	font-size: 22px;
	line-height: 30px;
	padding-bottom: 6px;
	border-bottom: 3px solid #EDEDF0;
	margin-bottom: 20px;
}

.doc h2 {
	margin: 15px 0 15px 20px;
	font-size: 18px;
}

.doc p {
	margin: 0 0 6px 35px;
}

.doc ul {
	margin: 10px 0 10px 55px;
	list-style-type: square;
}

.doc ul li {
	margin-bottom: 4px;
	color: #555555;
}

ul.items {
	margin: 15px 0 15px 35px;
	margin-top: 15px;
	margin-bottom: 15px;
}


ul.items li {
	border-left: 3px solid #FE8E14;
	list-style: none;
	background-color: #F7F7F7;
	padding-left: 8px;
	margin-top: 10px;
	height: 30px;
	vertical-align: middle;
	line-height: 30px;
}


a img
{
    border:none;
}

a img:hover
{
    border:none;
}

li.fontstyle
{
    font-size: 10px; color: #3a3a3a; line-height: 15px;
}

li#tallerli
{
    line-height:47px;
}

ul 
{
    list-style:none; padding-left:0px; margin:0px; 
}

ul li
{
    margin-bottom:8px;
}

#browsersupport ul li
{
    float:left;
    padding: 0 10px;
}

#browsersupport img
{
    vertical-align:middle;
}

#browsersupport
{
    margin:0;
    padding:0;
    padding-left:6px;
    height:55px;
    width:260px;
    z-index:1;
    position:absolute;
    top:-80px;
}

div.divinput 
{
    font-size: 11px; color: #3a3a3a; padding:10px; line-height: 14px; font-family: "verdana" , "sans-serif"; 
    margin:5px; margin-bottom:10px; background-color:#f0f0f0; text-align:left; 
}

div.menudiv
{
    float:left; 
    height:25px;
    padding-top:10px;
}


.divcontrol
{
    width:580px; height:600px;
}

.divcontrolthumbnailmain
{
    width:500px; height:600px;
}

.divcontrolthumbnail
{
    width:120px; height:600px;
}

div#VideoContainerDiv
{
	margin:0px; margin-left:20px; float:left; margin-top:10px; width:345px; height:353px; margin-left:-10px;*margin-left:20px;*margin-left:20px\9;
}

div#VideoContainerInstalled
{
	float:left; width:315px; height:305px;
}

.divvideocontrol
{
	margin:0px;  float:left; padding:0px; margin-top:10px; width:305px; height:300px;
}

div#divVideoProperties
{
	margin:0px; margin-left:15px; margin-top:10px; float:left; width:517px; height:353px;
}

div.dwtcontrolThumbnail
{
    padding:5px; padding-top:10px; text-align:center; border-collapse:collapse;border:3px solid #cE5E04; position: absolute; height: 580px; 
	z-index: 1; background-color: #f0f0f0; width:100px;
}


div#Crop {
	padding:5px; padding-top:10px; text-align:center; border-collapse:collapse;border:3px solid #cE5E04; position: absolute; height: 80px; 
	z-index: 1; background-color: #f0f0f0; width:250px
}
div#ImgSizeEditor 
{
    padding:5px; padding-top:10px; text-align:center; border-collapse:collapse;border:3px solid #cE5E04; position: absolute; height: 110px; 
	z-index: 1; background-color: #f0f0f0; width:300px
}

div#MoreEditMethods
{
    padding:5px; padding-top:10px; border-collapse:collapse;border:3px solid #cE5E04; position: absolute; height: auto;
	z-index: 1; background-color: #f0f0f0; width:250px;  text-align:left;
}

div#divCapabilityNegotiation
{
    padding:5px; padding-top:10px; border-collapse:collapse;border:3px solid #cE5E04; position: absolute; height: auto; 
	z-index: 2; background-color: #f0f0f0; width:auto;
}

div#divRotateConfig
{
    padding:5px; padding-top:10px; border-collapse:collapse;border:3px solid #cE5E04; position: absolute; height: 100px; 
	z-index: 2; background-color: #f0f0f0; width:200px;
}

div#divSetImageLayout
{
    padding:5px; padding-top:10px; border-collapse:collapse;border:3px solid #cE5E04; position: absolute; height: 75px; 
	z-index: 2; background-color: #f0f0f0; width:350px;
}

div#divHighlight
{
    padding:5px; padding-top:10px; border-collapse:collapse;border:3px solid #cE5E04; position: absolute; height: 110px; 
	z-index: 2; background-color: #f0f0f0; width:280px;
}

div#tblLoadImage
{
    padding:5px; padding-top:10px; text-align:left; border-collapse:collapse; border:3px solid #cE5E04; position: absolute; height: 170px; 
	z-index: 1; background-color: #fefefe; width:280px
}
div#AddTextDiv 
{
    padding:5px; padding-top:10px; text-align:center; border-collapse:collapse;border:3px solid #cE5E04; position: absolute; height: 170px; 
	z-index: 1; background-color: #f0f0f0; width:300px
}
div#SetTextFontDiv 
{
    padding:5px; padding-top:10px; text-align:center; border-collapse:collapse;border:3px solid #cE5E04; position: absolute; height: 250px; 
	z-index: 1; background-color: #f0f0f0; width:320px
}
a:link {
	color: #3a3a3a; line-height: 18px; text-decoration: underline
}
a:visited {
	color: #3a3a3a; line-height: 18px; text-decoration: underline
}
a:active {
	color: #666666; line-height: 18px; text-decoration: underline
}
a:hover {
	color: #fe8e14; line-height: 18px; text-decoration: underline
}
a.menu:link {
	color: #3a3a3a; line-height: 18px; text-decoration: none
}
a.menu:visited {
	color: #202020; line-height: 18px; text-decoration: none
}
a.menu:active {
	color: #202020; line-height: 18px; text-decoration: none
}
a.menu:hover {
	color: #202020; line-height: 18px; text-decoration: none
}
a.white:link {
	color: #d9d9d9; line-height: 18px; text-decoration: underline
}
a.white:visited {
	color: #d9d9d9; line-height: 18px; text-decoration: underline
}
a.white:active {
	color: #d9d9d9; line-height: 18px; text-decoration: underline
}
a.white:hover {
	color: #d9d9d9; line-height: 18px; text-decoration: none
}
a.gray:link {
	color: #3a3a3a; line-height: 18px; text-decoration: none
}
a.gray:visited {
	color: #3a3a3a; line-height: 18px; text-decoration: none
}
a.gray:active {
	color: #3a3a3a; line-height: 18px; text-decoration: none
}
a.gray:hover {
	color: #3a3a3a; line-height: 18px; text-decoration: underline
}
a.grayunder:link {
	color: #454545; line-height: 18px; text-decoration: underline
}
a.grayunder:visited {
	color: #454545; line-height: 18px; text-decoration: underline
}
a.grayunder:active {
	color: #454545; line-height: 18px; text-decoration: underline
}
a.grayunder:hover {
	color: #454545; line-height: 18px; text-decoration: none
}
.tableborder {
	border-right: #cdcdcd 1px solid; border-top: #cdcdcd 1px solid; border-left: #cdcdcd 1px solid; border-bottom: #cdcdcd 1px solid
}
.tableborderbottom {
	border-bottom: #cdcdcd 1px solid
}
.fontgray12B {
	font-weight: bold; color: #555555
}
.fontyellow12B {
	font-weight: bold; color: #3a3a3a
}
.titlepagetd {
	vertical-align: middle; height: 30px
}
.subtitletd {
	vertical-align: bottom; height: 30px
}
.titlepage {
	font-weight: bold; font-size: 14px; color: #fe8e14
}
.subtitle {
	font-weight: 600; font-size: 11px; vertical-align: bottom; color: #fe8e14; FONT-FAMILY: Verdana; height: 20px; TEXT-ALIGN: left
}
.menuout {
	padding-bottom: 5px; color: #ffffff; background-color: #fe8e14
}
.menuover {
	color: #ffffff; background-color: #5f6062
}
.menu_top_over {
	padding-left: 30px; font-size: 11px; background: url(../images/menutop1.jpg) no-repeat 50% bottom; width: 151px; color: #353535; padding-top: 9px; FONT-FAMILY: "verdana"; height: 48px
}
.menu_top_out {
	padding-left: 30px; font-size: 11px; background: url(../images/menutop.jpg) no-repeat 50% bottom; width: 151px; color: #353535; padding-top: 9px; FONT-FAMILY: "verdana"; height: 48px
}
.menu_over {
	padding-left: 30px; font-size: 11px; background: url(../images/menuover.jpg) no-repeat 50% bottom; width: 151px; color: #353535; FONT-FAMILY: "verdana"; height: 33px
}
.menu_out {
	padding-left: 30px; font-size: 11px; background: url(../images/menuout.jpg) no-repeat 50% bottom; width: 151px; color: #353535; FONT-FAMILY: "verdana"; height: 33px
}
.menu_blank {
	background: url(../images/menublank.jpg) no-repeat 50% bottom; width: 151px; color: #353535; height: 33px
}
.body_Narrow_width {
	width: 964px;
}
.body_Broad_width {
	width: 984px;
}


   
    
input{
    font:normal 11px verdana;
}

input.invalid {
	background-color: #FF9;
	border: 2px red inset;
}

a.menucolor:link
{
    font-weight: bold; font-family: Arial; font-size: 12px; margin-right: 5px;
    color: #FFFFFF;
    text-decoration: none;
}
a.menucolor:visited
{
    font-weight: bold; font-family: Arial; font-size: 12px; margin-right: 5px;
    color: #FFFFFF;
    text-decoration: none;
}
a.menucolor:hover
{
    font-weight: bold; font-family: Arial; font-size: 12px; margin-right: 5px;
    color: #FE8E14;
    text-decoration: none;
}
a.menucolor:active
{
    font-weight: bold; font-family: Arial; font-size: 12px; margin-right: 5px;
    color: #FFFFFF;
    text-decoration: none;
}

a.fontcolor:link
{
    color: #000000;
    text-decoration: none;
    line-height:14px;
}
a.fontcolor:visited
{
    color: #000000;
    text-decoration: none;
    line-height:14px;
}
a.fontcolor:hover
{
    color: #000000;
    text-decoration: none;
    line-height:14px;
}
a.fontcolor:active
{
    color: #000000;
    text-decoration: none;
    line-height:14px;
}

div#tblLoadImage2
{
    padding:5px; padding-top:10px; text-align:left; border-collapse:collapse; border:3px solid #cE5E04; position: absolute; height: 330px; 
	z-index: 1; background-color: #fefefe; width:300px
}

#menu { background:url(../Images/bg_menubar_black.png) repeat-x; height:40px;}
#menu ul { list-style:none; margin:0; padding:0; }
#menu a { text-decoration:none; display:block; white-space:nowrap; }
#menu .nohref { cursor:default; }
/* first level start */
.menubar_split, .menubar_split_last { background:#000; width:1px; height:40px; position: absolute; top: 0; border-left: 1px solid #666; border-right: 1px solid #666; }
.menubar_split { left:0; }
.menubar_split_last { right:0; }
#menu .D_menu_item { float:left; width:110px; height:40px; line-height:40px; color:#FFF; font:bold 13px/16px Helvetica; margin:0; padding:0; text-align:center; vertical-align:middle; position:relative; z-index:1;}
.D_menu_item_select {float:left; width:110px; height:38px; line-height:40px; background-color: #AAAAAA; color:White; font:bold 13px/16px Helvetica; margin:0; padding:0; text-align:center; vertical-align:middle;position:relative; z-index:1; }
#menu .D_menu_item a { height:40px; line-height:40px; }
#menu .D_menu_item a:visited { background:none; }
#menu .D_menu_item:hover { background-color:#FFF; color:#555; }
/* first level end */

#menu a:link {
	color: #fff; line-height: 40px; text-decoration: none
}
#menu a:visited {
	color: #fff; line-height: 40px; text-decoration: none
}
#menu a:active {
	color: #202020; line-height: 40px; text-decoration: none
}
#menu a:hover {
	color: #3a3a3a; line-height: 40px; text-decoration: none; cursor:pointer;
}


.ks-overlay {
    position:absolute;
    left:-9999px;
    top:-9999px;
}
.ks-ext-close {
	padding: 0 20px;
	position: absolute;
	right: -5px;
	top: 5px;
}
.ks-ext-close,.ks-ext-close:link { color:#2222AA;text-decoration:none; cursor: pointer; }

.ks-ext-mask{
	background: #999;
	filter:alpha(opacity=70); /* IE */
	-moz-opacity:0.7; /* Moz + FF */
	opacity: 0.7; /* CSS3 e.g. FF 1.5 */
}


.D-dailog .ks-ext-close .ks-ext-close-x {
    height: 8px;
}

.D-dailog .ks-ext-close, .D-dailog .ks-ext-close:hover {
    background: none;
    border: none;
}

.D-dailog 
{
    position: absolute;
    left: -9999px;
    top: -99999px; 
    margin:100px auto;
	padding: 0;
	width: 392px;
	height: 242px;
	background-color:#F1F2F2;
}

.D-dailog .D-dailog-body 
{
    width: 350px;
	height: 200px;
	position: relative;
	top:5px;
	left: 5px;
	margin: 0;
	background-color: #ffffff;
	border: 1px solid #E7E7E7;
	padding: 15px;
}

.D-dailog .D-dailog-body-Mac 
{
    width: 350px;
	height: 245px;
	position: relative;
	top:5px;
	left: 5px;
	margin: 0;
	background-color: #ffffff;
	border: 1px solid #E7E7E7;
	padding: 15px;
}

.D-dailog .D-dailog-body-Scan
{
    width: 380px;
	height: 240px;
	position: relative;
	top:5px;
	left: 5px;
	margin: 0;
	background-color: #ffffff;
	border: 1px solid #E7E7E7;
	padding: 15px;
}


.D-dailog .D-dailog-body-Scan-sample
{
    width: 380px;
	height: 200px;
	position: relative;
	top:5px;
	left: 5px;
	margin: 0;
	background-color: #ffffff;
	border: 1px solid #E7E7E7;
	padding: 15px;
}

.D-dailog a {
			text-decoration: none;
		}
		
.link{
			text-decoration:underline;
		}


.box_title {
	color: #333;
	font-family: helvetica, arial, sans-serif;
	font-size: 16px;
	font-weight: bold;
}

.box_title_scan {
	color: #333;
	font-family: helvetica, arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
}

.box_scan_subtitle {
	color: #333;
	font-family: helvetica, arial, sans-serif;
	font-size: 12px;
}

.box_scan_detail {
	color: #777777;
	margin-top:5px;
	margin-bottom:8px;
	font-family: helvetica, arial, sans-serif;
	font-size: 12px;
}

.D-dailog ul {
	margin: 10px 0 10px 20px;
	list-style-type:disc;
}


.red {
	color: red;
	margin-left: 5px;
}

.button {
 background-image: url(../images/btn-down-install-plugin.gif);
 background-repeat: no-repeat;
 width: 212px;
 height: 34px;
 position: relative;
 margin: 20px auto 0;
 cursor: pointer;
}

.button:hover {
 background-position: 0 -34px;
}

.button:active {
 background-position: 0 -68px;
}



#PCollapse {
    list-style: none inside none;
    margin-left: 0;
    padding-left: 0;
}

.divType
{
	font-weight:bold;
	font-size:12px;
	height: 25px;
	cursor:pointer;
}

.mark_arrow {
    display: block;
    float: left;
    height: 12px;
    margin: 0px 2px 0 0;
    width: 12px;
}

.collapsed {
    background: url("../images/arrow.gif") no-repeat scroll 3px center transparent;
}

.expanded 
{
	background: url("../images/arrow-down.gif") no-repeat scroll 3px 4px transparent;
}

#div_SampleImage
{
	padding-left:15px;
}

#div_LoadLocalImage
{
	padding-left:15px;
	width: 260px;
}

#div_SampleImage ul
{
	padding-left:0;
	margin-left:0;
}

#div_ScanImage {

}

.divTableStyle
{
	border: solid 6px #dedede;
	padding: 5px 5px;
}

.divTableStyle ul {
	margin-left: 10px;
}

.divHead
{
	font-weight:bold;
	font-size:12px;
	height: 20px;
	padding-left: 10px;
	padding-top: 5px;
	background-color:#ffaf4f;
}

.tableStyle
{
	border: solid 8px #ddd; 
	background-color: #fff;
	padding-left:10px
}

.holder
{
    top:2px;
    left: 2px;
    font-size: 10px;
}
.holding
{
    position:relative;
}

.holder
{
    position:absolute;
    color: #AAA;
    cursor: text;
    -webkit-transition: opacity .1s,font-size .1s;
    -moz-transition: opacity 0.1s ease 0s, font-size 0.1s ease 0s;
    -o-transition: opacity .1s,font-size .1s;
    
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    
}
.hasome .holder
{
    display:none;
}

input.BigTextBox 
{
    font-size: 8px;
    color: #333;
    width: 150px;
    height: 20px;
    line-height: 30px;
    border: 1px solid #ccc;
    background:#F0F9FF;
}

input[type='text']:focus,input[type='password']:focus,input[type='textarea']:focus {
    border-color: #56B4EF;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow:  0 1px 3px rgba(0, 0, 0, 0.05) inset, 0 0 8px rgba(82, 168, 236, 0.6);
}

/*Upgrade*/
#message
{
    font-family: Arial,Helvetica,sans-serif;
    width: 800px;
    z-index: 105;
    text-align: center;
    font-weight: bold;
    font-size: 100%;
    padding: 2px 0px 2px 0px;
    color: #239210;
    background-color: #E0F0D6;
    border: 1px solid #54D33F;
    box-shadow: 0 0 10px #3A3A3A;
    margin-left: auto;
    margin-right: auto;
    height: 22px;
    position: absolute;
    left: 50%;
    margin-left: -400px;
}

#MessageBody a,  #divInfo{
 color: #6A9962;
 font-size: 14px;
}

#message span
{
    text-align: center;
    width: 95%;
    float: left;
}

#MessageBoy a:hover {
 text-decoration: underline;
}

.close-notify
{
    white-space: nowrap;
    float: right;
    margin-right: 10px;
    color: #fff;
    text-decoration: none;
    border: 2px #fff solid;
    padding-left: 3px;
    padding-right: 3px;
}
.close-notify a
{
    color: #fff;
}


.VideoContainerDisplay
{
	position:absolute; 
	left:-1000px; 
	top:-1000px;
}

#divInfo {
	font-family: verdana, sans-serif;
	font-size: 12px;
	color: #3A3A3A;
	line-height: 20px;
	border: 3px dashed #dedede;
	border-radius: 4px;
	padding: 15px;
	margin-top: 15px;
}

#divInfo div {
	background: url("../images/faq 24.png") no-repeat;
	padding-left: 30px;
}
#divInfo div a {
	line-height: 20px;
	font-size: 13px;
	font-weight:bold;
	text-decoration: underline;
	color: #555;
}
#divInfo div a:hover {
	text-decoration: underline;
}

.divOnlineDemo{
    font-family: helvetica, arial, sans-serif;
    font-weight: normal;
    color: rgb(47, 48, 49);
    font-size: 28px;
}

.DWTPage{
	margin: 0 auto;
}

.DWTHeader{
	background-color: #3a3a3a;
	border: 0; 
	padding: 0;
}

.DWTTail{
	background-color:#ffffff; 
	border:0;
}

.DWTBody
{
    margin: 0 auto;
	background-color: #FFF;
	border: 0;
	/*height:700px;*/
	/*clear:both;*/
	padding: 20px;
}

/*fix DWTBody height*/
.body_clr {
	clear: both;
	height: 20px;
	margin-bottom: 20px;
}

.btn {
	width: 216px;
	margin: 5px auto 5px auto;
	display: block;
	-webkit-box-shadow: rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
	box-shadow: rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.3) 0px 1px 1px 0px;
	border-radius: 2px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	color: #FFF;
	cursor: pointer;

	font-family: Arial, sans-serif;
	font-weight: bold;
	text-decoration: none;
	text-shadow: rgba(0, 0, 0, 0.25) 0px -1px 0px;
	zoom: 1;

}

.btn:active {
	-webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 5px 0px inset, rgba(255, 255, 255, 0.15) 0px 1px 0px 0px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 5px 0px inset, rgba(255, 255, 255, 0.15) 0px 1px 0px 0px;	
}

.DWTScanButton {
	background-color: #ffaf18;

	background-image: -webkit-linear-gradient(top, rgba(252, 192, 89, 0), rgba(254, 150, 0, 0.9 ));
	background-image: -moz-linear-gradient(top, rgba(252, 192, 89, 0), rgba(254, 150, 0, 0.9 ));
	background-image: -o-linear-gradient(top, rgba(252, 192, 89, 0), rgba(254, 150, 0, 0.9 ));
	background-image: -ms-linear-gradient(top, rgba(252, 192, 89, 0), rgba(254, 150, 0, 0.9 ));
	background-image: linear-gradient(top, rgba(252, 192, 89, 0), rgba(254, 150, 0, 0.9 ));
	height: 41px;
	font-size: 16px;
}


.DWTScanButton:hover {
	background-color: #fdb52d;

	background-image: -webkit-linear-gradient(top, rgba(252, 192, 89, 0.5), rgba(254, 150, 0, 0.7 ));
	background-image: -moz-linear-gradient(top, rgba(252, 192, 89, 0.5), rgba(254, 150, 0, 0.7 ));
	background-image: -o-linear-gradient(top, rgba(252, 192, 89, 0.5), rgba(254, 150, 0, 0.7 ));
	background-image: -ms-linear-gradient(top, rgba(252, 192, 89, 0.5), rgba(254, 150, 0, 0.7 ));
	background-image: linear-gradient(top, rgba(252, 192, 89, 0.5), rgba(254, 150, 0, 0.7 ));
}


.btn_grey {
	background-color: #d7d7d7;

	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.1 ));
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.1 ));
	background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.1 ));
	background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.1 ));
	background-image: linear-gradient(top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.1 ));
	height: 32px;
	font-size: 14px;
}

.btn_grey:hover {
	background-color: #dadada;

	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.09 ));
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.09 ));
	background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.09 ));
	background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.09 ));
	background-image: linear-gradient(top, rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.09 ));
}
.DWTContainer 
{
    margin:0px; float:left; padding:0px; width:600px;
}

.ScanWrapper 
{
    margin:0px; float:left; padding:0px; width:280px; }

.DWTContainerForThumbnails
{
    margin:0px; float:left; padding:0px; margin-right:20px;
}

.DWTEditButton{
	width:135px;
	height:22px;
	font-size:11px;
	margin-left: 0px;
	margin-bottom: 5px;
}

.split_line {
	background-color: #EDEDF0;
	height: 3px;
	margin-top: 16px;
	margin-bottom: 22px;
}