.OkMsg{
	padding:5px 5px 5px 25px;
	border:1px solid #00BE00;
	background:#E6FFE6 url(imgs/standard_msg_ok.gif) 5px 5px no-repeat;
	color:#000;
	height:18px;
}
.WarningMsg{
	padding:5px 5px 5px 25px;
	border:1px solid #00A8FF;
	background:#E2F5FF url(imgs/standard_msg_warning.gif) 5px 5px no-repeat;	
	color:#000;
	height:18px;
}
.ErrorMsg{
	padding:5px 5px 5px 25px;
	border:1px solid #F60;
	background:#FFF2E9 url(imgs/standard_msg_error.gif) 5px 5px no-repeat;	
	color:#000;
	height:18px;
}

body
{
font-size: 12px;
color:#333333;
SCROLLBAR-FACE-COLOR: eeeeee; 
SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; 
SCROLLBAR-SHADOW-COLOR: #ffffff;
SCROLLBAR-ARROW-COLOR: #c4c8d2;
scrollbar-3d-light-color: #ffffff;
scrollbar-dark-shadow-color: #ffffff;
}

td
{
font-size: 12px;color:#333333;
word-break:break-all;
}

legend
{
padding-left:7px;padding-right:7px;color:#333333;font-size:12px;
}

fieldset
{
width:98%;border:1px   solid   #999999
}

.line-0010-bbbbbb {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: bbbbbb;
	border-right-color: #bbbbbb;
	border-bottom-color: #bbbbbb;
	border-left-color: #bbbbbb;
}

input 
{
border: 1px solid #999999;
font-size:12px;
padding:2px;
}

textarea 
{
border: 1px solid #999999;
font-size:12px;
}

.stat-column {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: 666666;
	border-right-color: 999999;
	border-bottom-color: 999999;
	border-left-color: 666666;
	background-color: #eeeeee;
	font-family: "Geneva", "Arial", "Helvetica", "sans-serif";
	font-size: 10px;
	color: #000000;
}


 .left-title {
	border: 1px solid #bbbbbb;
	background-color: #e5e5e5;
	height:30px;
	font-weight:bold;
	color:#333333;
	padding:5px;
	font-size:12px;
	text-align: left;
}

 .right-title 
{
	height:30px;
	background-color: #e5e5e5;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #bbbbbb;
	border-right-color: #bbbbbb;
	border-bottom-color: #bbbbbb;
	border-left-color: #bbbbbb;
	font-weight:bold;
	color:#333333;
	padding:5px;
	font-size:12px;
	text-align: left;
}

.right-special-title 
{
height:30px;
	background-color: #c5c5c5;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: bbbbbb;
	border-right-color: #bbbbbb;
	border-bottom-color: #bbbbbb;
	border-left-color: #bbbbbb;
	font-weight: bold;
}

.page-title {
	font-size:13px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: bbbbbb;
	border-right-color: #bbbbbb;
	border-bottom-color: #bbbbbb;
	border-left-color: #bbbbbb;
	font-weight: bold;

	padding-bottom:5px;
}

a.table-title:link {
	color: #000000;
	text-decoration: underline;
}
a.table-title:visited {
	color: #000000;
	text-decoration: underline;
}
a.table-title:hover {
	color: #000000;
	text-decoration: underline;

}
a.table-title:active {
	color: #000000;
	text-decoration: underline;

}

.row-line1
{
	background-color: #ffffff;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #dddddd;
	border-right-color: #dddddd;
	border-bottom-color: #dddddd;
	border-left-color: #dddddd;
	padding-left:5px;
	padding-right:5px;
}

.row-special-line1
{
	background-color: #f0f0f0;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #dddddd;
	border-right-color: #dddddd;
	border-bottom-color: #dddddd;
	border-left-color: #dddddd;
	font-weight: bold;

}

.row-line2
{
	background-color: #f9f9f9;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #dddddd;
	border-right-color: #dddddd;
	border-bottom-color: #dddddd;
	border-left-color: #dddddd;
	padding-left:5px;
	padding-right:5px;
}

.row-special-line2
{
	background-color: #e5e5e5;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #dddddd;
	border-right-color: #dddddd;
	border-bottom-color: #dddddd;
	border-left-color: #dddddd;
	font-weight: bold;
}

.row-line-on
{
	background-color: #d3eb9a;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #dddddd;
	border-right-color: #dddddd;
	border-bottom-color: #dddddd;
	border-left-color: #dddddd;
}

.turn-page-table {
	border: 1px solid bbbbbb;
	background-color: #e5e5e5;
}

.short-button {
	background-attachment: fixed;
	background: url(imgs/button_short.gif);
	background-repeat: no-repeat;
	background-position: center center;
	height: 20px;
	width: 70px;
	color: #000000;
	
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}

.short-button-ok {
	background-attachment: fixed;
	background: url(imgs/button_short_ok.gif);
	background-repeat: no-repeat;
	background-position: center center;
	height: 20px;
	width: 70px;
	color: #000000;
	
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}

.short-button-redtext {
	background-attachment: fixed;
	background: url(imgs/button_short.gif);
	background-repeat: no-repeat;
	background-position: center center;
	height: 20px;
	width: 70px;
	color: #CC0000;
	
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}

.short-short-button {
	background-attachment: fixed;
	background: url(imgs/button_short_short.gif);
	background-repeat: no-repeat;
	background-position: center center;
	height: 20px;
	width: 45px;
	color: #000000;
	
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}

.short-short-button-mod {
	background-attachment: fixed;
	background: url(imgs/button_short_short_mod.gif);
	background-repeat: no-repeat;
	background-position: center center;
	height: 20px;
	width: 45px;
	color: #000000;
	padding-left:14px;
	
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}


.short-short-button-merge {
	background-attachment: fixed;
	background: url(imgs/button_short_short_merge.gif);
	background-repeat: no-repeat;
	background-position: center center;
	height: 20px;
	width: 45px;
	color: #000000;
	padding-left:14px;
	
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}


.short-short-button-convert {
	background-attachment: fixed;
	background: url(imgs/button_short_short_convert.gif);
	background-repeat: no-repeat;
	background-position: center center;
	height: 20px;
	width: 45px;
	color: #000000;
	padding-left:14px;
	
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}

.short-short-button-damage {
	background-attachment: fixed;
	background: url(imgs/button_short_short_damage.gif);
	background-repeat: no-repeat;
	background-position: center center;
	height: 20px;
	width: 45px;
	color: #000000;
	padding-left:14px;
	
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}


.short-short-button-return {
	background-attachment: fixed;
	background: url(imgs/button_short_short_return.gif);
	background-repeat: no-repeat;
	background-position: center center;
	height: 20px;
	width: 45px;
	color: #000000;
	padding-left:14px;
	
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}


.short-short-button-unmerge {
	background-attachment: fixed;
	background: url(imgs/button_short_short_unmerge.gif);
	background-repeat: no-repeat;
	background-position: center center;
	height: 20px;
	width: 45px;
	color: #000000;
	padding-left:14px;
	
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}


.short-short-button-ok {
	background-attachment: fixed;
	background: url(imgs/button_short_short_ok.gif);
	background-repeat: no-repeat;
	background-position: center center;
	height: 20px;
	width: 45px;
	color: #000000;
	padding-left:14px;
	
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}

.short-short-button-print {
	background-attachment: fixed;
	background: url(imgs/button_short_short_print.gif);
	background-repeat: no-repeat;
	background-position: center center;
	height: 20px;
	width: 45px;
	color: #000000;
	padding-left:14px;
	
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}

.short-short-button-cart {
	background-attachment: fixed;
	background: url(imgs/button_short_short_cart.gif);
	background-repeat: no-repeat;
	background-position: center center;
	height: 20px;
	width: 45px;
	color: #000000;
	padding-left:14px;
	
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}

.short-short-button-cancel {
	background-attachment: fixed;
	background: url(imgs/button_short_short_cancel.gif);
	background-repeat: no-repeat;
	background-position: center center;
	height: 20px;
	width: 45px;
	color: #000000;
	padding-left:14px;
	
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}

.short-short-button-del {
	background-attachment: fixed;
	background: url(imgs/button_short_short_del.gif);
	background-repeat: no-repeat;
	background-position: center center;
	height: 20px;
	width: 45px;
	color: #000000;
	padding-left:14px;
	
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}

.short-short-button-redtext {
	background-attachment: fixed;
	background: url(imgs/button_short_short.gif);
	background-repeat: no-repeat;
	background-position: center center;
	height: 20px;
	width: 45px;
	color: #CC0000;
	
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}

.short-short-button-bluetext {
	background-attachment: fixed;
	background: url(imgs/button_short_short.gif);
	background-repeat: no-repeat;
	background-position: center center;
	height: 20px;
	width: 45px;
	color: #0000FF;
	
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}

.long-long-button {
	
	background-attachment: fixed;
	background: url(imgs/button_long_long.gif);
	background-repeat: no-repeat;
	background-position: center center;
	height: 20px;
	width: 130px;
	color: #000000;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}

.long-long-button-add {
	
	background-attachment: fixed;
	background: url(imgs/button_long_long_add.gif);
	background-repeat: no-repeat;
	background-position: center center;
	height: 20px;
	width: 130px;
	color: #000000;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}

.long-long-button-stat {
	
	background-attachment: fixed;
	background: url(imgs/button_long_long_stat.gif);
	background-repeat: no-repeat;
	background-position: center center;
	height: 20px;
	width: 130px;
	color: #000000;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}

.page-go {
	background-attachment: fixed;
	background: url(imgs/page_go.gif);
	background-repeat: no-repeat;
	background-position: center center;
	height: 20px;
	width: 28px;
	color: #000000;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
		font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
}


a.in-table:link {
	color: #333333;
	text-decoration: underline;
}
a.in-table:visited {
	color: #333333;
	text-decoration: underline;
}
a.in-table:hover {
	color: #333333;
	text-decoration: underline;

}
a.in-table:active {
	color: #333333;
	text-decoration: underline;

}

form
{
	padding:0px;
	margin:0px;
}




.short-button-green {
	background-attachment: fixed;
	background: url(imgs/button_short_green.gif);
	background-repeat: no-repeat;
	background-position: center center;
	height: 20px;
	width: 70px;
	color: #000000;
	
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}

.short-button-red {
	background-attachment: fixed;
	background: url(imgs/button_short_red.gif);
	background-repeat: no-repeat;
	background-position: center center;
	height: 20px;
	width: 70px;
	color: #000000;
	
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}

.short-button-yellow {
	background-attachment: fixed;
	background: url(imgs/button_short_yellow.gif);
	background-repeat: no-repeat;
	background-position: center center;
	height: 20px;
	width: 70px;
	color: #000000;
	
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}



.long-button-redtext {
	background-attachment: fixed;
	background: url(imgs/button_long.gif);
	background-repeat: no-repeat;
	background-position: center center;
	height: 20px;
	width: 95px;
	color: #CC0000;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}


.long-button {
	background-attachment: fixed;
	background: url(imgs/button_long.gif);
	background-repeat: no-repeat;
	background-position: center center;
	height: 20px;
	width: 95px;
	color: #000000;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}


.long-button-print {
	background-attachment: fixed;
	background: url(imgs/button_long_print.gif);
	background-repeat: no-repeat;
	background-position: center center;
	height: 20px;
	width: 95px;
	color: #000000;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}



.long-button-upload {
	background-attachment: fixed;
	background: url(imgs/button_long_upload.gif);
	background-repeat: no-repeat;
	background-position: center center;
	height: 20px;
	width: 95px;
	color: #000000;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}


.long-button-ok {
	background-attachment: fixed;
	background: url(imgs/button_long_ok.gif);
	background-repeat: no-repeat;
	background-position: center center;
	height: 20px;
	width: 95px;
	color: #000000;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}

.long-button-stat {
	background-attachment: fixed;
	background: url(imgs/button_long_stat.gif);
	background-repeat: no-repeat;
	background-position: center center;
	height: 20px;
	width: 95px;
	color: #000000;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}

.long-button-mod {
	background-attachment: fixed;
	background: url(imgs/button_long_mod.gif);
	background-repeat: no-repeat;
	background-position: center center;
	height: 20px;
	width: 95px;
	color: #000000;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}

.long-button-add {
	background-attachment: fixed;
	background: url(imgs/button_long_add.gif);
	background-repeat: no-repeat;
	background-position: center center;
	height: 20px;
	width: 95px;
	color: #000000;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}

.long-button-export {
	background-attachment: fixed;
	background: url(imgs/button_long_export.gif);
	background-repeat: no-repeat;
	background-position: center center;
	height: 20px;
	width: 95px;
	color: #000000;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}

.button_long_refresh {
	background-attachment: fixed;
	background: url(imgs/button_long_refresh.gif);
	background-repeat: no-repeat;
	background-position: center center;
	height: 20px;
	width: 95px;
	color: #000000;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}

.button_long_search {
	background-attachment: fixed;
	background: url(imgs/button_long_search.gif);
	background-repeat: no-repeat;
	background-position: center center;
	height: 20px;
	width: 95px;
	color: #000000;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}

.long-button-yellow {
	
	background-attachment: fixed;
	background: url(imgs/button_long_yellow.gif);
	background-repeat: no-repeat;
	background-position: center center;
	height: 20px;
	width: 95px;
	color: #000000;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}

.long-button-green {
	
	background-attachment: fixed;
	background: url(imgs/button_long_green.gif);
	background-repeat: no-repeat;
	background-position: center center;
	height: 20px;
	width: 95px;
	color: #000000;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}


.long-long-button {
	
	background-attachment: fixed;
	background: url(imgs/button_long_long.gif);
	background-repeat: no-repeat;
	background-position: center center;
	height: 20px;
	width: 130px;
	color: #000000;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}


.long-long-button-mod {
	
	background-attachment: fixed;
	background: url(imgs/button_long_long_mod.gif);
	background-repeat: no-repeat;
	background-position: center center;
	height: 20px;
	width: 130px;
	color: #000000;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}

.long-long-button-ok {
	
	background-attachment: fixed;
	background: url(imgs/button_long_long_ok.gif);
	background-repeat: no-repeat;
	background-position: center center;
	height: 20px;
	width: 130px;
	color: #000000;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}

.long-long-button-yellow {
	
	background-attachment: fixed;
	background: url(imgs/button_long_long_yellow.gif);
	background-repeat: no-repeat;
	background-position: center center;
	height: 20px;
	width: 130px;
	color: #000000;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}

.long-long-button-green {
	
	background-attachment: fixed;
	background: url(imgs/button_long_long_green.gif);
	background-repeat: no-repeat;
	background-position: center center;
	height: 20px;
	width: 130px;
	color: #000000;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}

a.gop:link {
	color: #000000;
	text-decoration: none;
}
a.gop:visited {
	color: #000000;
	text-decoration: none;
}
a.gop:hover {
	color: #000000;
	text-decoration: underline;

}
a.gop:active {
	color: #000000;
	text-decoration: none;

}


a.pending-style:link {
	color: #FFFFFF;
	background:#FF9900;
	padding-left:1px;
	padding-right:1px;
	text-decoration: none;
	font-size:11px;
	font-weight:bold;
}
a.pending-style:visited {
	color: #FFFFFF;
	background:#FF9900;
	padding-left:1px;
	padding-right:1px;
	text-decoration: none;
	font-size:11px;
	font-weight:bold;
}
a.pending-style:hover {
	color: #FFFFFF;
	background:#FF9900;
	padding-left:1px;
	padding-right:1px;
	text-decoration: none;
	font-size:11px;
	font-weight:bold;
}
a.pending-style:active {
	color: #FFFFFF;
	background:#FF9900;
	padding-left:1px;
	padding-right:1px;
	text-decoration: none;
	font-size:11px;
	font-weight:bold;
}


a.psci-style:link {
	color: #FFFFFF;
	background:#FF0000;
	padding:1px;
	text-decoration: none;
	border:1px #000000 solid;
	font-weight:bold;
	font-size:11px;
}
a.psci-style:visited {
	color: #FFFFFF;
	background:#FF0000;
	padding:1px;
	text-decoration: none;
	border:1px #000000 solid;
	font-weight:bold;
	font-size:11px;
}
a.psci-style:hover {
	color: #FFFFFF;
	background:#FF0000;
	padding:1px;
	text-decoration: none;
	border:1px #000000 solid;
	font-weight:bold;
	font-size:11px;
}
a.psci-style:active {
	color: #FFFFFF;
	background:#FF0000;
	padding:1px;
	text-decoration: none;
	border:1px #000000 solid;
	font-weight:bold;
	font-size:11px;
}



a.pscr-style:link {
	color: #FFFFFF;
	background:#6699FF;
	padding-left:1px;
	padding-right:1px;
	text-decoration: none;
	font-size:11px;
	font-weight:bold;
}
a.pscr-style:visited {
	color: #FFFFFF;
	background:#6699FF;
	padding-left:1px;
	padding-right:1px;
	text-decoration: none;
	font-size:11px;
	font-weight:bold;
}
a.pscr-style:hover {
	color: #FFFFFF;
	background:#6699FF;
	padding-left:1px;
	padding-right:1px;
	text-decoration: none;
	font-size:11px;
	font-weight:bold;
}
a.pscr-style:active {
	color: #000000;
	text-decoration: none;
	font-size:11px;
	font-weight:bold;
}

.alert-text {
	color: #993300;
}
.alert-text2 {
	color: #0000FF;
}



select {
	font-weight: normal;

	border: 1px solid #999999;
	padding: 1px;
	background-color: #FFFFFF;
}



.long-button-next {
	background-attachment: fixed;
	background: url(imgs/button_long_next.gif);
	background-repeat: no-repeat;
	background-position: center center;
	height: 20px;
	width: 95px;
	color: #000000;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}


.short-short-button-search-email {
	background-attachment: fixed;
	background: url(imgs/button_short_short_search_email.gif);
	background-repeat: no-repeat;
	background-position: center center;
	height: 20px;
	width: 45px;
	color: #000000;
	padding-left:14px;
	
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}



.line-bg {
	background-attachment: fixed;
	background: url(imgs/line_bg.jpg);
	background-repeat: repeat;
	background-position: center center;
	border-bottom:1px #BDC1A3 solid;

}


.more-fun-short-button {
	background-attachment: fixed;
	background: url(imgs/more_fun.gif);
	background-repeat: no-repeat;
	background-position: center center;
	height: 20px;
	width: 70px;
	color: #000000;

	
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	 -moz-outline-style: none;

}

