body{margin:0;padding:0;}

.hiddentable{background:url(imgs/hiddensbg.gif) repeat-y; width:14px;}
.hiddenl{background:url(imgs/arrow-l.gif) no-repeat left center;}
.hiddenr{background:url(imgs/arrow-r.gif) no-repeat left center;}
