table {
	font-size: 12px;
	line-height: 20px;
	color: #8F8F8F;
	text-decoration: none;
	font-family: "新宋体";
}
A.a01 {
	font-size: 12px;
	color: #202020;
	text-decoration: none;
	line-height: 20px;
	font-family: "新宋体";

}
A.a01:hover {
	font-size: 12px;
	color: #202020;
	text-decoration: underline;
	line-height: 20px;
	font-family: "新宋体";
}
A.a02 {
	font-size: 12px;
	color: #FF0000;
	text-decoration: none;
	line-height: 20px;
	font-family: "新宋体";

}
A.a02:hover {
	font-size: 12px;
	color: #FF0000;
	text-decoration: underline;
	line-height: 20px;
	font-family: "新宋体";
}
A.a03 {
	font-size: 12px;
	color: #166AE9;
	text-decoration: none;
	filter: Shadow(Color=#8B0101, Direction=90);
	line-height: 20px;
	font-family: "新宋体";

}
A.a03:hover {
	font-size: 12px;
	color: #166AE9;
	text-decoration: underline;
	line-height: 20px;
	font-family: "新宋体";
}
A.a04 {
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
	filter: Shadow(Color=#8B0101, Direction=90);
	line-height: 20px;
	font-family: "新宋体";

}
A.a04:hover {
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: underline;
	line-height: 20px;
	font-family: "新宋体";
}
A.a05 {
	font-size: 12px;
	color: #C23886;
	text-decoration: none;
	filter: Shadow(Color=#8B0101, Direction=90);
	line-height: 20px;
	font-family: "新宋体";

}
A.a05:hover {
	font-size: 12px;
	color: #C23886;
	text-decoration: underline;
	line-height: 20px;
	font-family: "新宋体";
}

A {
	font-size: 12px;
	line-height: 20px;
	color: #202020;
	text-decoration: none;
	font-family: "新宋体";
}
A:hover {
	font-size: 12px;
	line-height: 20px;
	color: #F202020;
	text-decoration: underline;
	font-family: "新宋体";
}
.font1 {
	font-family: "新宋体";
	font-size: 12px;
	color: #0667C9;
	line-height: 20px;
	text-decoration: none;
}
.font2 {
	font-family: "新宋体";
	font-size: 12px;
	color: #202020;
	line-height: 20px;
	text-decoration: none;
}
.font3 {
	font-family: "新宋体";
	font-size: 14px;
	color: #202020;
	line-height: 20px;
	text-decoration: none;
	font-weight: normal;
}
.font4 {
	font-family: "新宋体";
	font-size: 12px;
	color: #C23886;
	line-height: 20px;
	text-decoration: none;
	font-weight: normal;
}
.font5 {

	font-family: "新宋体";
	font-size: 12px;
	color: #E87101;
	line-height: 20px;
	text-decoration: none;
	font-weight: bolder;
}
.bd {
	border: 1px solid #BDBDBD;
	background-color: #FFFFFF;
}
.bd1 {

	border: 1px solid #AFAFAF;
	background-color: #FFFFFF;
}

.menuItem:hover
{
	text-decoration: none;
}
.menuItem:link
{
	text-decoration: none;
}
.menuItem:visited
{
	text-decoration: none;
}