.jms-slideshow {
	position: relative;
	width: 100%;
	min-width: 640px;
	margin: 10px auto;
	height: 400px;
}
.jms-wrapper {
	width: auto;
	min-width: 600px;
	height: 380px;
	background-color: #fff;
	box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
	-webkit-background-clip: padding;
	-moz-background-clip: padding;     
	background-clip: padding-box;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #fff;
	outline: none;
	-webkit-transition: background-color 1s linear;
	-moz-transition: background-color 1s linear;
	-o-transition: background-color 1s linear;
	-ms-transition: background-color 1s linear;
	transition: background-color 1s linear;
}
.color-5 {
	background-color: #EBBBBC;
	background-color: rgba(235, 187, 188, 1);
}
.color-1 {
	background: url(/img/slide1.jpg);
}
.color-2{
	background: url(/img/slide2.jpg);
}
.color-3 {
	background: url(/img/slide3.jpg);
}
.color-4{
	background: url(/img/slide4.jpg);
}
.step {	
	width: 1000px;
    height: 360px;
	display: block;
	-webkit-transition: opacity 1s;
	-moz-transition:    opacity 1s;
	-ms-transition:     opacity 1s;
	-o-transition:      opacity 1s;
	transition:         opacity 1s;
}
.step:not(.active) {
	opacity: 0;
	filter: alpha(opacity=0); /* internet explorer */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/
}
.jms-content{
	margin: 0px 370px 0px 20px;
	position: relative;
	clear: both;
}
.jms-content.right 
{
    float:right;
    margin-right:0px;
}
.step h3{
	color: #333;
	font-size: 52px;
	font-weight: bold;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 60px 0 10px 0;
}
.step h4 
{
    position:relative;
    color: #fff;
    font-size: 21px;
    padding: 16px 0px;
    border: 1px solid #fff;
    width:450px;
    letter-spacing: 0.25px;
    border-width: 1px 0;
    padding: 16px 0;
    margin: 40px 0;
    font-weight: 600;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    opacity: 1;
    margin-left: 0px;
    margin-top: 0px;
    display: block;
    visibility: visible;
}
.step p {
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	font-size: 34px;
	font-weight: normal;
	position: relative;
	margin: 0;
}
a.jms-link{
	color: #fff;
    padding: 10px 30px;
    background: #0093d0;
    text-decoration: none;
    border-radius: 2px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
	opacity: 1;
	margin-top:0px;
	clear: both;
	display:block;
	float:left;
}
a.jms-link:hover
{
    background:#3366cc;
}
a.jms-link.teal 
{
    background: #1fa79e;
}
a.jms-link.teal:hover 
{
    background: #0aad80;
}
a.jms-link.orange 
{
    background: #f98805;
}
a.jms-link.orange:hover 
{
    background: #fd7202;
}
a.jms-link.pink 
{
    background-color:#e64883
}
a.jms-link.pink:hover 
{
    background: #e53f51;
}

.step img{
	position: absolute;
	right: 0px;
	top: 0px;
}
.step img.left 
{
    left:0px;
}
.jms-dots{
	width: 100%;
	position: absolute;
	text-align: center;
	left: 0px;
	bottom: 40px;
	z-index: 2000;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.jms-dots span{
	display: inline-block;
	position: relative;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: #777;
	margin: 3px;
	cursor: pointer;
	box-shadow: 
		1px 1px 1px rgba(0,0,0,0.1) inset, 
		1px 1px 1px rgba(255,255,255,0.3);
}
.jms-dots span.jms-dots-current:after{
	content: '';
	width: 8px;
	height: 8px;
	position: absolute;
	top: 2px;
	left: 2px;
	border-radius: 50%;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
	background: linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
}
.jms-arrows{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.jms-arrows span{
	position: absolute;
	top: 50%;
	margin-top: -40px;
	height: 80px;
	width: 30px;
	cursor: pointer;
	z-index: 2000;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
}
.jms-arrows span.jms-arrows-prev{
	background: #fff url(../img/arrow_left.png) no-repeat 50% 50%;
	left: 0px;
	border-radius: 0px 3px 3px 0px;
}
.jms-arrows span.jms-arrows-next{
	background: #fff url(../img/arrow_right.png) no-repeat 50% 50%;
	right: 0px;
	border-radius: 3px 0px 0px 3px;
}
/* Not supported style */
.jms-wrapper.not-supported{
	background-color: #E3D8FF;
	background-color: rgba(227, 216, 268, 1);
}
.jms-wrapper.not-supported:after{
	content: 'The slideshow functionality is not supported on your device.';
	padding: 0px 0px 30px 0px;
	text-align: center;
	display: block;
}
.jms-wrapper.not-supported .step{
	display: none;
	position: relative;
	opacity: 1;
	filter: alpha(opacity=99); /* internet explorer */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; /*IE8*/
	margin: 20px auto;
}
.jms-wrapper.not-supported .step:first-of-type{
	display: block;
}
.jms-wrapper.not-supported .step:not(.active) a.jms-link{
	opacity: 1;
	margin-top: 40px;
}