.hidderDiv{ width:762px; display:none; margin-left:20px;} 
.hidderDiv .top-left{ width:6px; height:6px; background-image: url(./divImgs/leftTop.gif);  float:left;  }
.hidderDiv .top-centter{ width:750px; height:6px; float:left; background-image:url(./divImgs/top.jpg) }
.hidderDiv .top-right{ width:6px; height:6px; background-image: url(./divImgs/rightTop.gif); float:left;  }
.hidderDiv .bottom-left{ width:6px; height:6px; background-image: url(./divImgs/leftBottom.gif); float:left;  }
.hidderDiv .bottom-centter{ width:750px; height:6px; float:left; background-image:url(./divImgs/bottom.jpg) }
.hidderDiv .bottom-right{ width:6px; height:6px; background-image: url(./divImgs/rightBottom.gif); float:left;  }
.hidderDiv .table{ clear:left}
.hidderDiv .table .left-td{ background-image:url(./divImgs/left.jpg)}
.hidderDiv .table .right-td{ background-image:url(./divImgs/right.jpg)}
.hidderDiv .content{ margin:0px auto; width:95%; font-size:14px; line-height:150%;}
.hidderDiv .content-td{ width:750px;}


