 tr.split td{height:24px;line-height:24px;background-image:url("../imgs/linebg_24.jpg"); } 
 
.zebraTable td
{
	border-bottom: 1px solid #dddddd;

	padding-left:10px;
}

.zebraTable tr.alt td 
{
	background: #f9f9f9;

}

.zebraTable tr.over td
{
	background: #E6F3C5;

}