@CHARSET "UTF-8";

.showPicture_overflow{
	width:100%;
	height:95px;
	border:1px solid #aaa;
	vertical-align: middle; 
	display:inline-block;
	overflow-x:hidden;
	overflow-y:hidden;
	white-space: nowrap;
	box-shadow: 1px 1px 3px #88a1b8, 1px -1px 3px #b6cfe7, -1px 1px 3px #b6cfe7, -1px -1px 3px #b6cfe7;
	position: relative;
}
.btn{
	position: relative;
	display:inline-block;
    margin: 0px 0px 0px 0px;
    vertical-align: top;
    z-index:1;
} 
.btn .multiple-button{
	background-image: url("../picture/images/multiple_photos_grey.png");
	width:99px;
	height:95px;
	border:none;
}
.btn .multiple-button:HOVER{
	background-image: url("../picture/images/multiple_photos_blue.png");
}
.btn .single-button{
	background-image: url("../picture/images/single_photos_grey.png");
	width:99px;
	height:95px;
	border-left:1px solid #469eff;
	border-right:1px solid #469eff;
	border-top:none;
	border-bottom:none;
}
.btn .single-button:HOVER{
	background-image: url("../picture/images/single_photos_blue.png");
}
.btn .upload-button{
	background-image: url("../picture/images/upload_photos_grey.png");
	width:99px;
	height:95px;
	border:none;
}
.btn .upload-button:HOVER{
	background-image: url("../picture/images/upload_photos_blue.png");
}


.showPicture_overflow ul {
	list-style:none;
	margin: 0;
    padding: 0;
    position: relative;
}

.showPicture_overflow #pictureWidth {
	display:inline-block;
	position: relative;
	left: 0px;
}
.showPicture_overflow ul li {
	display:inline-block;
	width:95px;
	height:100%;
	position: relative; 
	padding:0px;
	margin:0px 2px 0px 2px;
	cursor:pointer;
}
.showPicture_overflow .fill_space {
	width: 23px;
	height: 1px;
	float: left;
}
.showPicture_overflow ul li span {
	color:red;
	position: absolute;
	top:0px;
	right:0px;
	/*Z-index:1;*/
	height:23px;
	display:block;
	width:23;
	font-weight: bold;
	line-height: 9px;
	font-size: 11px; 
	background: url("../picture/images/btn_remove.png") no-repeat 0 0;
}
.showPicture_overflow ul li span:hover {
	background-position:-25px 0;
} 
 
.showPicture_overflow ul li div {
	position: absolute;
	width:100%;
	height:15px;
	background:rgba(255,0,0,0.6); 
	margin:0px;
	bottom:0px;
	font-size:11px;
	text-align:center;
	line-height: 15px;
	color:#FFF;
	font-weight: bold;
}
.showPicture_overflow ul li img {
	width:95px;
	height:100%;
}
.showPicture_overflow .move_left {
	color:red;
	position: absolute;
	Z-index:1;
	height:100%;
	display:inline-block;
	width:23px;
	background: url("../picture/images/move_to.png") no-repeat 0 0;
} 
.showPicture_overflow .move_right {
	color:red;
	position: absolute;
	top:0px;
	right:0px;
	Z-index:1; 
	height:100%;
	display:inline-block;
	width:23px;
	background: url("../picture/images/move_to.png") no-repeat -27px 0;
} 
.showPicture_overflow .move_left:hover {
	background-position:-54px 0;
} 
.showPicture_overflow .move_right:hover {
	background-position:-81px 0;
} 



