.combotree{
	display:inline-block;
	white-space:nowrap;
	font-size:12px;
	margin:0;
	padding:0;
	border:1px solid #A4BED4;
}
.combotree-text{
	font-size:12px;
	padding:3px 2px 3px 2px;
	border:0px;
}
.combotree-arrow{
	background:url('images/combo_arrow.gif') no-repeat 0 0;
	width:18px;
	height:20px;
	overflow:hidden;
	display:inline-block;
	vertical-align:top;
	cursor:pointer;
	opacity:0.6;
	filter:alpha(opacity=60);
}
.combotree-arrow-hover{
	opacity:1.0;
	filter:alpha(opacity=100);
}
.combotree-content{
	position:absolute;
	background:#fff;
	display:none;
	border:1px solid #A4BED4;
	overflow:auto;
}