.jqifade{
      position: absolute; 
      background-color: #aaaaaa; 
}
div.jqi{ 
      width: 400px; 
      font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; 
      position: absolute; 
      background-color: #ffffff;
      font-size: 12px; 
      text-align: left; 
      border: solid 1px #eeeeee;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      padding: 7px;
	    -moz-box-shadow: 0 1px 12px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 12px rgba(0,0,0,0.5);
	border: 5px solid #999999;

}
div.jqi .jqicontainer{ 
      font-weight: bold; 
}
div.jqi .jqiclose{ 
      position: absolute;
      top: 4px; right: -2px; 
      width: 18px; 
      cursor: default; 
      color: #bbbbbb; 
      font-weight: bold; 
}
div.jqi .jqimessage{ 
      padding: 10px; 
      line-height: 20px; 
      color: #444444; 
}
div.jqi .jqibuttons{ 
      text-align: right; 
      padding: 5px 0 5px 0; 
      border: solid 1px #eeeeee; 
      background-color: #f4f4f4;
}
div.jqi button{ 
      padding: 3px 10px;
      margin: 0 10px; 
      background-color: #2F6073; 
      border: solid 1px #f4f4f4; 
      color: #ffffff; 
      font-weight: bold; 
      font-size: 12px; 
}
div.jqi button:hover{ 
      background-color: #728A8C;
}
div.jqi button.jqidefaultbutton{ 
      background-color: #BF5E26;
}
.jqiwarning .jqi .jqibuttons{ 
      background-color: #BF5E26;
}
div.jqi  #title
{
	font-size:14px;
	color:#ffffff;
	background-attachment: fixed;
	background: url(pro_title.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	width:356px;
	height:27px;
	padding-top:3px;
	padding-left:5px;

	display: table; 


}