/* CSS Document */
.navi_Category_Selected
{
background:url(imgs/sideNavCategorySelectedBg.gif);
color:#AA0000;
}

.navi_Category_Unselected
{
background:url(imgs/sideNavCategoryBg.gif);
font-weight:normal;
color:#444444;
}

.navi_Category_Item
{
text-align:left;
height:25px;
}

.navi_ItemName
{
color:#404040;
vertical-align:middle;
}




.navi_Item_Selected
{
background-color:#d3eb9a;
}

.navi_Item_Unselected
{
}