input {BORDER-TOP-WIDTH: 1px; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 9pt; BORDER-LEFT-COLOR: #cccccc; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #cccccc; PADDING-BOTTOM: 1px; BORDER-TOP-COLOR: #cccccc; PADDING-TOP: 1px; HEIGHT: 18px; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #cccccc}
textarea {BORDER-TOP-WIDTH: 1px; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 9pt; BORDER-LEFT-COLOR: #cccccc; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #cccccc; PADDING-BOTTOM: 1px; BORDER-TOP-COLOR: #cccccc; PADDING-TOP: 1px; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #cccccc}}
.bold-text {
	font-weight: bold;
}
.alert-text {
	color: #999999;
}
.die-but {
	color: #999999;
}
a.backctrb:link {
	color: #FFFFFF;
	text-decoration: none;
}
a.backctrb:visited {
	color: #FFFFFF;
	text-decoration: none;
}
a.backctrb:hover {
	color: #FFFFFF;
	text-decoration: none;

}
a.backctrb:active {
	color: #FFFFFF;
	text-decoration: none;

}


a.blue:link {
	color: #003399;
	text-decoration: none;
}
a.blue:visited {
	color: #003399;
	text-decoration: none;
}
a.blue:hover {
	color: #FF0000;
	text-decoration: none;

}
a.blue:active {
	color: #003399;
	text-decoration: none;

}

.ofc-but {
	height: 30px;
	width: 120px;

}

body		{font-size: 12px;}

td 			{font-size: 12px;}

.thetable		{border-top: 1px solid buttonshadow;
			 border-left: 1px solid buttonshadow;
			 border-right: 1px solid ;
			 border-bottom: 1px solid ;
			 }
thead td	{background: buttonface;  border: 1px outset white;
			 cursor: default; padding-top: 2px; padding: bottom: 0;
			 border-top: 1px solid buttonhighlight;
			 border-left: 1px solid buttonhighlight;
			 border-right: 1px solid buttonshadow;
			 border-bottom: 1px solid buttonshadow;
			 height: 22px;
			 }
.ctd
{
			 border-right: 1px solid buttonshadow;
			 border-bottom: 1px solid buttonshadow;
}


.OkMsg{
	padding:5px 5px 5px 25px;
	border:1px solid #00BE00;
	background:#E6FFE6 url(imgs/standard_msg_ok.gif) 5px 5px no-repeat;
	color:#000;
	height:18px;
}
.WarningMsg{
	padding:5px 5px 5px 25px;
	border:1px solid #00A8FF;
	background:#E2F5FF url(imgs/standard_msg_warning.gif) 5px 5px no-repeat;	
	color:#000;
	height:18px;
}
.ErrorMsg{
	padding:5px 5px 5px 25px;
	border:1px solid #F60;
	background:#FFF2E9 url(imgs/standard_msg_error.gif) 5px 5px no-repeat;	
	color:#000;
	height:18px;
}
.moduletitle {
	letter-spacing: 3pt;
	padding: 4px;
	color: #FFFFFF;

}

a.catalog:link {
	color: #666666;
	text-decoration: none;
}
a.catalog:visited {
	color: #666666;
	text-decoration: none;
}
a.catalog:hover {
	color: #FF0000;
	text-decoration: none;

}
a.catalog:active {
	color: #666666;
	text-decoration: none;

}
.td-padding {
	padding: 4px;
}

.title-button{
	padding:4px;
	border:1px solid #cccccc;
	color:#000000;
	background:#eeeeee;
	width:125px;
	letter-spacing: 3pt;
	margin: 2px;

}
.news-title {
	color: #666666;
	line-height: 19px;

}

.market-price {
	text-decoration: line-through;
}
.list-catalog-title {
	background-color: f1f1f1;
	padding: 2px 2px 0px;
	width: 778px;;
	font-weight: bold;
	letter-spacing: 4px;
	color: #339999;
}


a.list-catalog-title:link {
	color: #0099CC;
	text-decoration: none;
	width: 100%;
	height: 22px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 5px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;


}
a.list-catalog-title:visited {
	color: #0099CC;
	text-decoration: none;
	width: 100%;
	height: 22px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 5px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
a.list-catalog-title:hover {
	color: #0099CC;
	text-decoration: none;
	width: 100%;
	height: 22px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 5px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
a.list-catalog-title:active {
	color: #0099CC;
	text-decoration: none;
	width: 100%;
	height: 22px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 5px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}


a.purchase-button:link {
	color: #FF6600;
	text-decoration: none;
}
a.purchase-button:visited {
	color: #FF6600;
	text-decoration: none;
}
a.purchase-button:hover {
	color: #6699FF;
	text-decoration: none;

}
a.purchase-button:active {
	color: #FF6600;
	text-decoration: none;
}

a.evaluate:link {
	color: #0000FF;
	text-decoration: underline;
}
a.evaluate:visited {
	color: #0000FF;
	text-decoration: underline;
}
a.evaluate:hover {
	color: #0000FF;
	text-decoration: underline;

}
a.evaluate:active {
	color: #0000FF;
	text-decoration: underline;

}.main-text-color {
	color: #333333;
}


a.nav:link {
	color: 000000;
	text-decoration: underline;
}
a.nav:visited {
	color: 000000;
	text-decoration: underline;
}
a.nav:hover {
	color: 000000;
	text-decoration: underline;

}
a.nav:active {
	color: 000000;
	text-decoration: underline;

}


a.title-buttonl:link {
	color: #FFFFFF;
	text-decoration: none;
}
a.title-buttonl:visited {
	color: #FFFFFF;
	text-decoration: none;
}
a.title-buttonl:hover {
	color: #FFFFFF;
	text-decoration: none;

}
a.title-buttonl:active {
	color: #FFFFFF;
	text-decoration: none;

}


a.mlogin:link {
	color: #0099CC;
	text-decoration: none;
}
a.mlogin:visited {
	color: #0099CC;
	text-decoration: none;
}
a.mlogin:hover {
	color: #0099CC;
	text-decoration: none;

}
a.mlogin:active {
	color: #0099CC;
	text-decoration: none;

}

.checkout {
	color: #0099CC;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	font-weight: bold;
	padding: 0px 0px 0px 4px;
	height: 23px;



}

a.allcatalog:link {
	color: #666666;
	text-decoration: none;
}
a.allcatalog:visited {
	color: #666666;
	text-decoration: none;
}
a.allcatalog:hover {
	color: #FF6600;
	text-decoration: underline;

}
a.allcatalog:active {
	color: #666666;
	text-decoration: none;

}.line-3-cccccc {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: dotted;
	border-right-style: dotted;
	border-bottom-style: dotted;
	border-left-style: dotted;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
.xu-line {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: dotted;
	border-right-style: dotted;
	border-bottom-style: dotted;
	border-left-style: dotted;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
.detail-pro-name {
	font-size: 15px;
	font-weight: bold;
	color: #666666;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 4px;
	border-top-style: dotted;
	border-right-style: dotted;
	border-bottom-style: dotted;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 4px;


}

.spc {
	color: #666666;
	padding: 5px;
	height: 22px;
	border-top-width: 1px;
	border-right-width: 2px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	letter-spacing: 5px;
	width: 100%;
	background-color: #FFFFFF;
	margin: 3px 0px 0px;
}
.main-bt {
	FONT-SIZE: 13px; BACKGROUND: #eeeeee; WIDTH: 100px;height:25
}



.impc {
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: dotted;
	border-right-style: dotted;
	border-bottom-style: dotted;
	border-left-style: dotted;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	
	PADDING: 5px;
	TEXT-ALIGN: center;
}

.impcc {

	PADDING: 5px;
	TEXT-ALIGN: center;
}

.line-13 {
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}

.special-price {
	background-color: #FF0066;
	font-weight: bold;
	color: #FFFFFF;
	padding: 1px;
}
.sp-pr-bg {
	background-attachment: scroll;
	background-image: url(imgs/special_price_bg.gif);
	background-repeat: no-repeat;
	background-position: center center;
}

.toggle-num-on {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	color: #FFFFFF;
	background-color: #FF0000;
	padding: 0px 3px;
	cursor: hand;
	font-weight: bold;
}

.toggle-num-out {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	color: #FFFFFF;
	padding: 0px 3px;
	cursor: hand;
	background-color: #999999;
	border: 1px none #CCCCCC;
	font-weight: bold;
}

a.c-m-t-c:link {
	background-color: #999999;
	padding: 1px 2px;
	color: #FFFFFF;
	text-decoration: none;
}
a.c-m-t-c:visited {
	background-color: #999999;
	padding: 1px 2px;
	color: #FFFFFF;
	text-decoration: none;
}
a.c-m-t-c:hover {
	background-color: #999999;
	padding: 1px 2px;
	color: #FFFFFF;
	text-decoration: none;

}
a.c-m-t-c:active {
	background-color: #999999;
	padding: 1px 2px;
	color: #FFFFFF;
	text-decoration: none;

}

a.c-m-t-cs:link {
	text-decoration: none;
	color: #717171;
}
a.c-m-t-cs:visited {
	text-decoration: none;
	color: #717171;
}
a.c-m-t-cs:hover {
	text-decoration: underline;
	color: #717171;

}
a.c-m-t-cs:active {
	text-decoration: none;
	color: #717171;

}
.cmtline13 {
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #828282;
	border-right-color: #828282;
	border-bottom-color: #828282;
	border-left-color: #828282;
}

.evaluateto {
	color: #FFFFFF;
	text-decoration: none;
	background-color: #0099CC;
	height: 11px;
	width: 11px;
	font-family: "Geneva", "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	font-weight: bold;
	text-align: center;
}


a.evaluatet:link {
	color: #336699;
	text-decoration: none;
	height: 12px;
	width: 12px;
	font-family: "Geneva", "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	font-weight: bold;
	text-align: center;


}
a.evaluatet:visited {
	color: #336699;
	text-decoration: none;
	height: 12px;
	width: 12px;
	font-family: "Geneva", "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	font-weight: bold;
	text-align: center;
}
a.evaluatet:hover {
	color: #336699;
	text-decoration: none;
	height: 12px;
	width: 12px;
	font-family: "Geneva", "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	font-weight: bold;
	text-align: center;

}
a.evaluatet:active {
	color: #336699;
	text-decoration: none;
	height: 12px;
	width: 12px;
	font-family: "Geneva", "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	font-weight: bold;
	text-align: center;

}

.stat-column {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: 666666;
	border-right-color: 999999;
	border-bottom-color: 999999;
	border-left-color: 666666;
	background-color: #eeeeee;
	font-family: "Geneva", "Arial", "Helvetica", "sans-serif";
	font-size: 10px;
	color: #000000;
}



.pages {
    padding: 1px;;
    margin: 1em 0;
    clear: center;
    font-size: 12px;;
}

.pages a, .pages span {

    padding: 0.2em 0.5em;
    margin-right: 0.1em;
    border: 1px solid #fff;
    background: #fff;
}

.pages span.current {
    border: 1px solid #2E6AB1;
    font-weight: bold;
    background: #2E6AB1;
    color: #fff;
}

.pages a {
    border: 1px solid #9AAFE5;
    text-decoration: none;
	color: #2E6AB1;
}

.pages a:hover {
    border-color: #2E6AB1;
	color: #2E6AB1;
}

.pages a.nextprev {
    font-weight: bold;
}

.pages span.nextprev {
    color: #666;
}

.pages span.nextprev {
        border: 1px solid #ddd;
        color: #999;
}
